<div class="bg-primary">
  <app-navbar></app-navbar>
  <!-- landing -->
  <div class="landing-svg h-screen">
    <div class="mx-auto py-20 text-center h-full flex flex-col justify-center">
      <p class="text-[7rem] font-bold text-textWhite mb-12">
        Cyber Sikkerhet Tjenester
      </p>
      <p class="text-3xl text-offWhite max-w-6xl mx-auto mb-6 font-thin">
        Cyber Sikkerhet Tjenester er et firma som leverer tjenester og håndter
        cyber sikkerhets risikoer for klientene våres. Vi er basert i norge og
        USA
      </p>
      <button
        class="bg-gradient-to-b from-accent/80 to-secondaryAccent px-10 text-xl w-fit py-4 rounded-lg font-semibold text-textWhite mt-10 hover:from-secondaryAccent hover:to-accent/80 hover:text-textWhite mx-auto"
      >
        Bli Med Nå
      </button>
    </div>
  </div>
  <!-- landing end -->
  <!-- about -->
  <div class="max-w-7xl mx-auto grid grid-cols-2 justify-center gap-x-20">
    <img
      src="/assets/design-elements/What-Is-design-element.png"
      alt=""
      class="w-full object-contain"
    />
    <div>
      <p class="text-5xl text-textWhite pb-8 font-semibold">
        Hvem og hva er vi?
      </p>
      <p
        class="text-xl text-offWhite max-w-4xl mx-auto mb-6 font-thin leading-relaxed"
      >
        Cyber Sikkerhet Tjenester er et firma som leverer tjenester og håndter
        cyber sikkerhets risikoer for klientene våres. Vi er basert i norge og
        USA Cyber Sikkerhet Tjenester er et firma som leverer tjenester.
      </p>
      <div class="mb-8 text-offWhite">
        <p class="mb-4">Kontakt oss</p>
        <p class="flex"><img src="/assets/design-elements/house.svg" alt="" class="mr-3 mb-2 h-8 w-8"> Spania: +421 324 45 3204</p>
        <p class="flex"><img src="/assets/design-elements/house.svg" alt="" class="mr-3 h-8 w-8"> Norge: +47 624 05 304</p>
      </div>
      <div
        class="bg-gradient-to-b from-accent/80 w-fit p-0.5 to-secondaryAccent rounded-lg font-semibold text-textWhite hover:from-secondaryAccent hover:to-accent/80 hover:text-textWhite"
      >
        <button
          class="bg-[#070f14] text-textWhite px-8 text-xl w-fit py-4 rounded-lg"
        >
          Bli Med Nå
        </button>
      </div>
    </div>
  </div>
</div>
