<div class="bg-primary">
  <app-navbar></app-navbar>
  <!-- landing -->
  <div class="landing-svg h-screen">
    <div class="mx-auto flex h-full flex-col justify-center py-20 text-center">
      <p class="mb-12 text-[7rem] font-bold text-textWhite">
        Cyber Sikkerhet Tjenester
      </p>
      <p class="mx-auto mb-6 max-w-6xl text-3xl font-thin text-offWhite">
        Cyber Sikkerhet Tjenester er et firma som leverer tjenester og håndter
        cyber sikkerhets risikoer for klientene våres. Vi er basert i norge og
        USA
      </p>
      <button
        class="mx-auto mt-10 w-fit rounded-lg bg-gradient-to-b from-accent/80 to-secondaryAccent px-10 py-4 text-xl font-semibold text-textWhite hover:from-secondaryAccent hover:to-accent/80 hover:text-textWhite"
      >
        Bli Med Nå
      </button>
    </div>
  </div>
  <!-- landing end -->
  <!-- about -->
  <div class="mx-auto grid max-w-7xl grid-cols-2 justify-center gap-x-20">
    <img
      src="/assets/design-elements/What-Is-design-element.png"
      alt=""
      class="w-full object-contain"
    />
    <div>
      <p class="pb-8 text-5xl font-semibold text-textWhite">
        Hvem og hva er vi?
      </p>
      <p
        class="mx-auto mb-6 max-w-4xl text-xl font-thin leading-relaxed text-offWhite"
      >
        Cyber Sikkerhet Tjenester er et firma som leverer tjenester og håndter
        cyber sikkerhets risikoer for klientene våres. Vi er basert i norge og
        USA Cyber Sikkerhet Tjenester er et firma som leverer tjenester.
      </p>
      <div class="mb-8 text-offWhite">
        <p class="mb-4">Kontakt oss</p>
        <p class="flex">
          <img
            src="/assets/design-elements/house.svg"
            alt=""
            class="mb-2 mr-3 h-8 w-8"
          />
          Spania: +421 324 45 3204
        </p>
        <p class="flex">
          <img
            src="/assets/design-elements/house.svg"
            alt=""
            class="mr-3 h-8 w-8"
          />
          Norge: +47 624 05 304
        </p>
      </div>
      <div
        class="w-fit rounded-lg bg-gradient-to-b from-accent/80 to-secondaryAccent p-0.5 font-semibold text-textWhite hover:from-secondaryAccent hover:to-accent/80 hover:text-textWhite"
      >
        <button
          class="w-fit rounded-lg bg-[#070f14] px-8 py-4 text-xl text-textWhite"
        >
          Bli Med Nå
        </button>
      </div>
    </div>
  </div>
</div>
