.landing-image {
  background-image: url("../../../assets/design-elements/wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
 }

 .taper-image {
  background-image: url("../../../assets/design-elements/wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: middle;
 }
