<div class="grid grid-cols-2 gap-x-20">
  <div class="mx-auto my-auto">
    <p class="mb-8 text-3xl font-semibold">We are located at:</p>
    <div>
      <div class="mb-10 flex gap-x-12">
        <button
          class="w-60 py-6 text-center text-xl text-black rounded-2xl"
          [ngClass]="{
            'gray-background': activeTab === 'USA',
            'offWhite-background': activeTab !== 'USA'
          }"
          (click)="setActiveTab('USA')"
        >
          USA
        </button>
        <button
          class="w-60 py-6 text-center text-xl text-black rounded-2xl"
          [ngClass]="{
            'gray-background': activeTab === 'Norway',
            'offWhite-background': activeTab !== 'Norway'
          }"
          (click)="setActiveTab('Norway')"
        >
          Norway
        </button>
      </div>

      <div class="space-y-5 text-xl text-offWhite" *ngIf="activeTab === 'USA'">
        <p class="text-2xl font-semibold text-textWhite">USA address</p>
        <p>Moscow, Lefortovskaya embankment, building 1</p>
        <p>Power Engineering MSTU im. N.E. Bauman</p>
      </div>
      <div class="space-y-5 text-xl text-offWhite" *ngIf="activeTab === 'Norway'">
        <p class="text-2xl font-semibold text-textWhite">Norge adress</p>
        <p>Moscow, Baumanskaya 68/8 building 1</p>
        <p>Phone: +7 495 249-11-13</p>
      </div>
    </div>
  </div>
  <google-map [center]="center" [zoom]="zoom" width="100%"></google-map>
</div>
