<div>
  <p class="pb-8 text-5xl font-semibold text-textWhite">Hvem og hva er vi?</p>
  <p
    class="mx-auto mb-6 max-w-4xl text-xl font-thin leading-relaxed text-offWhite"
  >
    Cyber Sikkerhet Tjenester er et firma som leverer tjenester og håndter cyber
    sikkerhets risikoer for klientene våres. Vi er basert i norge og USA Cyber
    Sikkerhet Tjenester er et firma som leverer tjenester.
  </p>
  <div class="mb-8 text-offWhite">
    <p class="mb-4 flex">
      <img
        src="/assets/design-elements/house.svg"
        alt=""
        class="mb-2 mr-3 h-8 w-8"
      />Kontakt oss
    </p>
    <p class="mb-6">Spania: +421 324 45 3204</p>
    <p>Norge: +47 624 05 304</p>
  </div>
  <div
    class="w-fit rounded-lg bg-gradient-to-b from-accent/80 to-secondaryAccent p-0.5 font-semibold text-textWhite hover:from-secondaryAccent hover:to-accent/80 hover:text-textWhite"
  >
    <button
      class="w-fit rounded-lg bg-[#070f14] px-8 py-4 text-xl text-textWhite"
    >
      Finn oss her
    </button>
  </div>

  <!-- Kontakt info -->
</div>
